* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Josefin Sans", sans-serif;
  --color-royal-blue: #5956e9;
  --color-gray-paragraph: #6c6c72;
  --color-black: ##232233;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

.hero {
  background-image: url(assets/images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content-contact {
  color: #fff;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding: 10px 0;
}

.content-contact img {
  height: 18px;
  width: 18px;
}

.email-call {
  display: flex;
}

.email {
  display: flex;
  margin-right: 30px;
}

.email img {
  margin-right: 15px;
}

.call {
  display: flex;
}

.call img {
  margin-right: 15px;
}

.social-icon {
  display: flex;
}

.social-icon li {
  padding: 0 0.93rem;
}

.menu {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  text-transform: uppercase;
}

.menu-link {
  align-items: center;
  display: flex;
}

.menu-link {
  font-weight: 600;
}

.logo {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin: -16px 0;
  padding: 0 20px;
}

.logo img {
  display: block;
  width: 167px;
}

.menu-link li a {
  color: var(--color-black);
  padding: 10px 20px;
  text-decoration: none;
}

.menu-link .active {
  color: var(--color-royal-blue);
}

.download-button {
  background-color: var(--color-royal-blue);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--font-family);
  margin-right: 5px;
  line-height: 1.87rem;
  padding: 12px 15px;
  text-transform: uppercase;
}

.content-info-image {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.info-download {
  background-color: #fff;
  max-width: 560px;
  padding: 40px 20px;
}

/* .box-border {
  border: 18px solid #7572ff;
} */
.info-download h2 {
  color: var(--color-royal-blue);
  font-size: 3rem;
  line-height: 3.93rem;
  text-transform: uppercase;
}

.info-download p {
  color: var(--color-gray-paragraph);
  line-height: 1.5rem;
  padding: 20px 0 40px 0;
}

.info-download h3 {
  color: var(--color-black);
  font-size: 1.56rem;
  font-weight: 600;
  line-height: 2.37rem;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.buttons-store {
  display: flex;
}

.buttons-store a {
  margin-right: 14px;
}

.buttons-store img {
  display: block;
  width: 149px;
}

.content-image-mobile {
  max-width: 646px;
  width: 100%;
  margin-right: -167px;
}

.content-image-mobile img {
  display: block;
  /* margin-left: 7.75rem; */
  width: 646px;
}

/* About */
.about {
  padding: 7.5rem 8.43rem;
}
.about h2 {
  color: var(--color-black);
  font-weight: 700;
  font-size: 1.95rem;
  line-height: 2.93rem;
  padding-bottom: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}

.about .paragraph-center {
  color: var(--color-gray-paragraph);
  line-height: 1.5rem;
  text-align: center;
  margin: auto;
  width: 37.5rem;
}

.content-features {
  width: 50%;
}

.about-image-features {
  display: flex;
  justify-content: space-between;
}

.about-image-features img {
  width: 386px;
}

.about-image-features h3 {
  color: var(--color-black);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.87rem;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.about-image-features .feature p {
  color: var(--color-gray-paragraph);
  line-height: 1.5rem;
}

.feature {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  margin: 2.5rem 0;
  padding: 1.87rem 1.25rem 1.87rem 3.75rem;
}

.feature img {
  height: 24px;
  margin-right: 17px;
  width: 24px;
}
/* App features */
.app-features {
  background-color: #5a5be5;
  background-image: url(assets/images/backgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding: 7.5rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.app-features h3 {
  font-weight: 700;
  font-size: 1.95rem;
  line-height: 2.93rem;
  padding-bottom: 1.37rem;
  text-transform: uppercase;
  text-align: center;
}

.app-features .paragraph-center {
  line-height: 1.5rem;
  margin: auto;
  text-align: center;
  width: 37.5rem;
}

/* .app-features {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3.75rem 0 0.75rem;
} */

.app-features .icons-features {
  height: 50px;
  /* margin-bottom: 1.37rem; */
  width: 50px;
}

.app-features .chat {
  width: 18.56rem;
}

.app-features .chat,
.app-features .support {
  margin: auto;
  padding-top: 3.75rem;
  text-align: center;
}

.app-features .chat h4 {
  font-size: 1.56rem;
  font-weight: 600;
  line-height: 2.37rem;
  padding: 1.37rem 0;
  text-transform: uppercase;
}

.features-content {
  display: flex;
}

.features-content .browser,
.features-content .design-vector {
  width: 18.56rem;
}

.features-content .version,
.features-content .retina-ready-greaphics {
  width: 22.18rem;
}

.features-content h4 {
  font-weight: 600;
  font-size: 1.56rem;
  padding: 1.37rem 0;
  text-transform: uppercase;
}

.features-content p {
  line-height: 1.5rem;
}

.content-icons-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.align-right {
  text-align: right;
}

.feature-image-mobile img {
  margin: 0 0 -6.35rem 4.37rem;
  width: 375px;
}

.app-features .support {
  width: 19.93rem;
}

.app-features .support h4 {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1.37rem 0;
  text-transform: uppercase;
}
